footer {
    display: flex;
        justify-content: space-between;
        align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

nav>div {
    width: 2rem;
    height: 2rem;
    background: #7C3AED;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

nav>img {
    width: 1.125rem;
    width: 1.125rem;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    cursor: pointer;
}