header {
    border-radius: 16px;
    border: 1px solid #FFFFFF0D;
    backdrop-filter: blur(16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: oklab(19.2414% -.00151229 -.0256411/.16);
    margin-top: 1.25rem;
    background: #0F142066;
    padding: 1rem 2rem;
    position: relative;
    /* overflow: hidden; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

nav>img {
    width: 2rem;
    width: 2rem;
}

nav>span {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: -0.025;
    text-transform: uppercase;
}

menu {
    margin: 0;
    padding: 0;
    /* width: 18rem; */
}

menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

menu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    cursor: pointer;
}

button {
    width: 7.1rem;
    height: 3rem;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    border: 1px solid #FFFFFF1A;
    background: #0b0b10;
    padding: 0.75rem 1.5rem;
}

button a {
    text-decoration: none;
    color: #E6F0FF;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
}