.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 2rem;
}

.caption {
    border-radius: 16px;
    border: 1px solid #FFFFFF1A;
    backdrop-filter: blur(8px);
    background: #0E1B2680;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* margin: 0; */
    margin-bottom: 2rem;
    /* width: 15.5rem; */
    padding: 0.5rem 1rem;
}

.cation img {
    width: 0.875rem;
    height: 0.875rem;
}

.caption span {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

section h1 {
    max-width: 62rem;
    padding: 0 11.15rem;
    font-weight: 800;
    font-size: 7.125rem;
    letter-spacing: -0.29rem;
    text-align: center;
    line-height: 6.875rem;
    margin: 0;
    padding-bottom: 2rem;
}

.info {
    padding: 0 0.25rem;
    font-weight: 400;
    color: #8A98A6;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    max-width: 37.5rem;
    /* margin-bottom: 0.04rem; */
}

.button {
    display: flex;
    gap: 1rem;
}

.project {
    height: 3.5rem;
    width: 12.25rem;
    border-radius: 16px;
    padding: 1rem 2rem;
    background: #7C3AED;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 0.25rem;
}

.project span {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.expert {
    height: 3.5rem;
    width: 10.75rem;
    color: inherit;
    padding: 1rem 2rem;
    background: #0E1B2680;
    backdrop-filter: blur(8px);
    border: 1px solid #FFFFFF1A;
    border-radius: 16px;
    font-size: 1rem;
}