.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption {
  border-radius: 16px;
  border: 1px solid #FFFFFF1A;
  backdrop-filter: blur(8px);
  background: #0E1B2680;

  padding: 0.5rem 1rem;
display: flex;
align-items: center;
justify-content: space-between;
gap: 0.5rem;
/* width: 15.5rem; */
}